<% flash.each do |type, msg| %>
  <% if type == "error" %>
    <div class="error-notice">
        <%= msg %>
    </div>
  <% end %>
<% end %>
<div class="form-container">
    <div class ="form-heading">
        <h3>Add New Comment</h3>
    <div>
    <%= form_with model: comment,method: :post, url: post_comments_path, scope: :new_comment,local:true do |form| %>
        <div>
            <%= form.label :text %>:
            <br>
            <%= form.text_area :text %>
        </div>
        <%= form.submit "Add comment", disable_with: 'Submiting...' %>
    <% end %>
<div>
