<div class="home-container">
<% flash.each do |type, msg| %>
  <% if type == "success" %>
    <div class="success-notice">
            <%= msg %>
    </div>
  <% end %>
<% end %>

<%= render @user %>

<div class="user-detail-bio">
    <h4>Bio</h4>
    <p class="user-bio-content">
        <%= @user.bio %>
    </p>
    <%= link_to new_user_post_path(@user.id) do %>
    <div class="add-new-post">
        <button>Add New Post </button>
    </div>
    <% end %>
</div>

<%= render @posts %>
<div class="btn-container-post">
<%= link_to user_posts_path(@user.id) do %>
<% if @user.posts.length != 0 %>
<button class="btn-posts">See all Posts</button>
<% end %>
<% end %>
</div>
</div>

