<article class="posts-detail-container">
    <div class="post-info-container">
        <div class="post-info">
        <h5>Post </h5><span class="post-number"><%= Random.rand(1..9999) %></span>
        <span>by <span><span class="poster-user-name">Username</span>
        </div>
        <div class="interaction-container-detail">
            <span class="comments-counter">Comments X</span>
            <span class="likes-counter">Likes Y</span>
        </div>
    </div>

    <p class="post-content-article">
    Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
     nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
     mollit anim id est laborum.
     <br>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
     incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
     exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
     dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
     laborum.
     <br>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
     incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
     exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
     dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
     laborum.
     </p>
</article>

<div class="comments-container">
    <div class="comments-list-container">
        <span class="commenter-user-name">Username:</span>
        <p class="comments-content">Comment <%= Random.rand(1..20) %></p>
    </div>
    <div class="comments-list-container">
        <span class="commenter-user-name">Username:</span>
        <p class="comments-content">Comment <%= Random.rand(1..20) %></p>
    </div>
    <div class="comments-list-container">
        <span class="commenter-user-name">Username:</span>
        <p class="comments-content">Comment <%= Random.rand(1..20) %></p>
    </div>
    <div class="comments-list-container">
        <span class="commenter-user-name">Username:</span>
        <p class="comments-content">Comment <%= Random.rand(1..20) %></p>
    </div>

</div>
