<div class="home-container">
<% flash.each do |type, msg| %>
  <% if type == "success" %>
    <div class="success-notice">
        <%= msg %>
    </div>
  <% end %>
<% end %>
<article class="posts-detail-container">
    <div class="post-info-container">
        <div class="post-info">
        <h5>Post</h5><span class="post-title-header"><%= @post.title %></span>
        <span>by <span><span class="poster-user-name"><%=  @post.author.name%></span>
        </div>
        <div class="interaction-container-detail">
            <span class="comments-counter">Comments: <%= @post.comments_counter %></span>
            <span class="likes-counter">Likes: <%= @post.likes_counter %></span>
        </div>
    </div>
    <p class="post-content-article">
    <%= @post.text %>
    </p>
</article>
<% if @post.comments.length == 0 %>
<div class="comments-container">
    <h4>No comments</h4>
</div>
<% else %>
<div class="comments-container">
    <%= render @post.comments %>
</div>
<% end %>
</div>


